
html,
body{
    height: 100%;
}
body{
    overflow: hidden;
    position: relative;
}

#clickme,
#showit{
    width: 100%;
    text-align: center;
    font-family: sans-serif;
    display: none;
    position: relative;
    z-index: 10000;
}
#clickme span,
#showit span{
    background: #000;
    color: #fff;
    cursor: pointer;
    padding: 20px;
    display: inline-block;
}
#showit{
    position: absolute;
    bottom: 0;
}
/* animate */
@keyframes default {
    100% { right:180%;}
    50%{right:80%;}
    0%{right:0%;}
}

@-webkit-keyframes default {
    100% { right:180%;}
    50%{right:80%;}
    0%{right:0%;}
}

/* apply the .animation class to the element you want to animate */
.animation {
    animation: default 4s ease 1s 1 normal none;
    -webkit-animation: default 4s ease 1s 1 normal none;
}
 /* veloci */
#velociunirapticorn{
    position: absolute;
    right: 0%;
}
#velociunirapticorn.show-vurn{
    right: auto;
    left: 0;
}
#velociunirapticorn .vurn{
    position: absolute;
    opacity: .2;
    z-index: 1000;
    left: -50px;
    top: -40px;
}
#velociunirapticorn div{
    position: absolute;
}

/* HEAD */
.head{
    left: 66px;
    top: 252px;
}
.eye{
    width: 0;
    height: 0;

    border-top: 25px solid transparent;
    border-left: 14px solid #fff;
    border-bottom: 7px solid transparent;

    left: 130px;
    top: 16px;

    -webkit-transform: rotate(79deg);
    -moz-transform: rotate(79deg);
    -ms-transform: rotate(79deg);
    -o-transform: rotate(79deg);
    transform: rotate(79deg);
}
.snout{
    background: transparent;
    
    width: 0;
    height: 32px;

    top: 8px;
    left: -2px;

    border-right: 138px solid black;
    border-bottom: 23px solid transparent;

    -webkit-transform: skew(-40deg, 0);
    -moz-transform: skew(-40deg, 0);
    -ms-transform: skew(-40deg, 0);
    -o-transform: skew(-40deg, 0);
    transform: skew(-40deg, 0);

    -webkit-border-radius: 10px 0 0 40px;
    -moz-border-radius: 10px 0 0 40px;
    border-radius: 10px 0 0 40px;
}

.dome-piece{
    background: #000;
    width: 76px;
    height: 70px;

    left: 100px;
    top: 0;

    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}

.jaw{
    background: #000;
    width: 108px;
    height: 125px;

    left: 90px;
    top: 13px;

    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;

    -webkit-transform: rotate(-37deg);
    -moz-transform: rotate(-37deg);
    -ms-transform: rotate(-37deg);
    -o-transform: rotate(-37deg);
    transform: rotate(-37deg);
}

.inner-jaw{
    background: #fff;
    width: 123px;
    height: 78px;

    left: 9px;
    top: 57px;

    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}

.lower-jaw{
    background: transparent;
    
    width: 0;
    height: 14px;

    top: 128px;
    left: 19px;

    border-right: 148px solid black;
    border-top: 24px solid transparent;

    -webkit-transform: rotate(-25deg) skew(30deg);
    -moz-transform: rotate(-25deg) skew(30deg);
    -ms-transform: rotate(-25deg) skew(30deg);
    -o-transform: rotate(-25deg) skew(30deg);
    transform: rotate(-25deg) skew(30deg);
}
.inner-lower-jaw{

}

.tongue{
    background: #000;
    width: 70px;
    height: 24px;

    left: 98px;
    top: 85px;
}
.tongue-2{
    background: #000;
    width: 48px;
    height: 14px;

    left: 62px;
    top: 97px;

    -webkit-transform: rotate(-32deg);
    -moz-transform: rotate(-32deg);
    -ms-transform: rotate(-32deg);
    -o-transform: rotate(-32deg);
    transform: rotate(-32deg);    
}
.tongue-top{
    background: #000;
    width: 103px;
    height: 67px;

    left: 72px;
    top: 81px;

    -webkit-border-radius: 100%;
     -moz-border-radius: 100%;
     border-radius: 100%; 
}
.tongue-bottom{
    background: #fff;
    width: 110px;
    height: 67px;

    left: 63px;
    top: 109px;

    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%; 
}

.tongue-tip{
    left: 21px;
    top: 96px;
    
    width: 100px;
    height: 50px;
    overflow: hidden;
}
.tongue-tip .top{
    background: #fff;
    width: 80px;
    height: 80px;

    top: -64px;
    left: -13px;

    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}
.tongue-tip .bottom{
    background: #000;
    width: 70px;
    height: 70px;

    top: -39px;
    left:0px;

    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}

/* teeth */
.tooth{
    width: 16px;
    height: 24px;
    overflow: hidden;
}
.tooth.bottom{
    -webkit-transform: scaleY(-1);
    -moz-transform: scaleY(-1);
    -ms-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    transform: scaleY(-1);
}
.tooth-1.bottom{
    left: 97px;
    top: 117px;
}
.tooth-2.bottom{
    left: 86px;
    top: 125px;
}
.tooth-3.bottom{
    left: 76px;
    top: 131px;
}
.tooth-4.bottom{
    left: 66px;
    top: 139px;
}
.tooth-5.bottom{
    left: 56px;
    top: 144px;
}
.tooth-6.bottom{
    left: 46px;
    top: 152px;
}
.tooth-7.bottom{
    left: 37px;
    top: 159px;
}

.tooth-1.top{
    left:83px;
    top: 57px;
}
.tooth-2.top{
    left:71px;
    top: 54px;
}
.tooth-3.top{
    left:59px;
    top: 51px;
}
.tooth-4.top{
    left:47px;
    top: 48px;
}
.tooth-5.top{
    left:36px;
    top: 45px;
}
.tooth-6.top{
    left:24px;
    top: 42px;
}
.tooth-7.top{
    left:13px;
    top: 39px;
}
.tooth-8.top{
    left:2px;
    top: 36px;
}

.tooth > div{
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}
.tooth.bottom > .tooth-top{
    background: #fff;
    height: 77px;
    width: 77px;

    top: -13px;
    left: 0;
}
.tooth.top > .tooth-top{
    background: #fff;
    height: 71px;
    width: 94px;

    top: -20px;
    left: 5px;   
}
.tooth > .tooth-bottom{
    background: #000;
    height: 55px;
    width: 55px;

    top: -22px;
    left: 0;
}


/* NECK */
.gizzard{
    width: 130px;
    height: 130px;
    background: #fff;

    left: 144px;
    top: 284px;

    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}

.main-neck{
    background: #000;
    width: 232px;
    height: 94px;

    left: 193px;
    top: 329px;

    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
.neck .neck-slope{
    width: 200px;
    height: 121px;
    left: 150px;
    top: 360px;
    overflow: hidden;
}
.neck .neck-slope .underneck{
    background: #fff;

    width: 1330px;
    height: 1330px;
    
    left: -1027px;
    top: -182px;

    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}

.horn{
    width: 140px;
    height: 290px;

    left: 180px;

    overflow: hidden;
}
.horn .top{
    background: #Fff;
    height: 3700px;
    width: 3700px;

    left: -3624px;
    top: -1262px;
    
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}
.horn .bottom{
    background: #000;
    height: 1840px;
    width: 1840px;

    left: -1736px;
    top: -443px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}

.spike{
    width: 80px;
    height: 90px;
    overflow: hidden;
}
.spike .top{
    background: #fff;

    height: 300px;
    width: 300px;

    top: -156px;
    left: -265px;

    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}
.spike .bottom{
    height: 300px;
    width: 300px;
    background: #000;

    top: -79px;
    left: -255px;

    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}

.spike-1{
    left: 240px;
    top: 200px;
}
.spike-2{
    left: 268px;
    top: 220px;

    -webkit-transform: rotate(25deg);
    -moz-transform: rotate(25deg);
    -ms-transform: rotate(25deg);
    -o-transform: rotate(25deg);
    transform: rotate(25deg);
}
.spike-3{
    left: 289px;
    top: 243px;

    -webkit-transform: rotate(36deg);
    -moz-transform: rotate(36deg);
    -ms-transform: rotate(36deg);
    -o-transform: rotate(36deg);
    transform: rotate(36deg);
}
.spike-4{
    left: 304px;
    top: 266px;

    -webkit-transform: rotate(39deg);
    -moz-transform: rotate(39deg);
    -ms-transform: rotate(39deg);
    -o-transform: rotate(39deg);
    transform: rotate(39deg);
}
.spike-5{
    left: 332px;
    top: 288px;

    -webkit-transform: rotate(47deg);
    -moz-transform: rotate(47deg);
    -ms-transform: rotate(47deg);
    -o-transform: rotate(47deg);
    transform: rotate(47deg);
}
.spike-6{
    left: 356px;
    top: 312px;

    -webkit-transform: rotate(51deg);
    -moz-transform: rotate(51deg);
    -ms-transform: rotate(51deg);
    -o-transform: rotate(51deg);
    transform: rotate(51deg);
}

/* BODY */
.torso{
    background: #000;
    width: 250px;
    height: 200px;

    left: 419px;
    top: 300px;
    
    -webkit-transform: rotate(-7deg);
    -moz-transform: rotate(-7deg);
    -ms-transform: rotate(-7deg);
    -o-transform: rotate(-7deg);
    transform: rotate(-7deg);
}

.chest{
    background: #000;
    width: 160px;
    height: 160px;
    
    left: 336px;
    top: 356px;

    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}
.back{
    background: #fff;
    width: 2000px;
    height: 240px;

    top: -445px;
    left: 92px;

    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;

    -webkit-transform: rotate(-44deg);
    -moz-transform: rotate(-44deg);
    -ms-transform: rotate(-44deg);
    -o-transform: rotate(-44deg);
    transform: rotate(-44deg);
}

.rump{
    background: #000;
    width: 220px;
    height: 85px;
    
    top: 280px;
    left: 526px;

    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}

.butt{
    background: #000;
    width: 200px;
    height: 200px;

    left: 619px;
    top: 403px;
    
    -webkit-transform: rotate(-7deg);
    -moz-transform: rotate(-7deg);
    -ms-transform: rotate(-7deg);
    -o-transform: rotate(-7deg);
    transform: rotate(-7deg);
}

/* TAIL */
.tail{
    width: 600px;
    height: 630px;

    left: 630px;
    top: -180px;
    overflow: hidden;
}
.tail .top{
    background: #fff;
    width: 1478px;
    height: 1460px;
    
    left:-731px;
    top: -1000px;

    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}
.tail .middle{
    background: #000;
    width: 1400px;
    height: 1400px;
    
    left:-720px;
    top: -889px;

    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}
.tail .hindquarter{
    background: #000;

    width: 139px;
    height: 37px;

    top: 482px;
    left: 69px;

    -webkit-transform: rotate(-29deg);
    -moz-transform: rotate(-29deg);
    -ms-transform: rotate(-29deg);
    -o-transform: rotate(-29deg);
    transform: rotate(-29deg);
}

.tail .bottom{
    background: #fff;
    width: 490px;
    height: 250px;
    
    top: 464px;
    left: 13px;

    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;

    -webkit-transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    -o-transform: rotate(-20deg);
    transform: rotate(-20deg);
}


/* LEFT LEG */
.left-leg{
    width: 300px;
    height: 400px;

    left: 490px;
    top: 340px;

    overflow: hidden;
}
.left-leg .upper-leg{
    width: 230px;
    height: 200px;

    overflow: hidden;
}
.left-leg .upper-leg .inner-thigh{
    background: #fff;
    width: 400px;
    height: 400px;

    left: 1px;
    top: 34px;

    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}
.left-leg .upper-leg .thigh{
    background: #000;
    width: 480px;
    height: 480px;

    left: 10px;
    top: 5px;

    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}
.left-leg .hamstring{
    background: #fff;

    width: 160px;
    height: 173px;

    left: 91px;
    top: 40px;

    overflow: hidden;

    -webkit-transform: rotate(17deg);
    -moz-transform: rotate(17deg);
    -ms-transform: rotate(17deg);
    -o-transform: rotate(17deg);
    transform: rotate(17deg);
}
.left-leg .hamstring .top{
    background: #000;

    width: 1260px;
    height: 1261px;

    top: -845px;
    left: -1134px;

    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}

.left-leg .lower-leg{
    background: #000;
    width: 155px;
    height: 65px;

    top: 170px;
    left: 37px;

    overflow: hidden;
}
.left-leg .lower-leg .shin{
    background: #fff;
    width: 130px;
    height: 10px;

    top: 62px;
    left: 16px;

    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}
.left-leg .lower-leg .calf{
    background: #fff;
    width: 900px;
    height: 121px;

    top: -82px;
    left: 39px;

    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;

    -webkit-transform: rotate(-4deg);
    -moz-transform: rotate(-4deg);
    -ms-transform: rotate(-4deg);
    -o-transform: rotate(-4deg);
    transform: rotate(-4deg);
}
.left-leg .knee{
    background: #000;
    width: 50px;
    height: 55px;

    left:13px;
    top: 180px;

    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}
.left-leg .heel{
    background: #000;
    width: 52px;
    height: 35px;

    left:160px;
    top: 212px;

    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}
.left-leg .foot{
    background: #000;
    width: 52px;
    height: 86px;
    left: 160px;
    top: 232px;

    overflow: hidden;
}
.left-leg .foot .top{
    background: #fff;
    width: 366px;
    height: 92px;

    left: -322px;
    top: 55px;

    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;

    -webkit-transform: rotate(-30deg);
    -moz-transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
    -o-transform: rotate(-30deg);
    transform: rotate(-30deg);
}
.left-leg .foot .bottom{
    background: #fff;
    width: 156px;
    height: 92px;

    left: 15px;
    top: -21px;

    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;

    -webkit-transform: rotate(-58deg);
    -moz-transform: rotate(-58deg);
    -ms-transform: rotate(-58deg);
    -o-transform: rotate(-58deg);
    transform: rotate(-58deg);
}

.left-leg .claw-1{
    width: 72px;
    height: 112px;
    left: 105px;
    top: 279px;

    overflow: hidden;
}
.left-leg .claw-1 .knuckle{
    background: #000;
    width: 44px;
    height: 48px;

    top: 1px;
    left: 29px;

    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}
.left-leg .claw-1 .talon-top{
    background: #000;
    height: 100px;
    width: 100px;
    
    left: 5px;
    top: 13px;

    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}
.left-leg .claw-1 .talon-bottom{
    background: #fff;
    height: 84px;
    width: 89px;
    
    left: 17px;
    top: 38px;

    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}

.left-leg .claw-2{
    width: 102px;
    height: 75px;
    left: 172px;
    top: 316px;

    overflow: hidden;
}
.left-leg .claw-2 .toe{
    background: #000;
    width: 39px;
    height: 57px;
    left: 14px;
    top: 7px;
    
    -webkit-border-radius: 0 20px 4px 45px;
    -moz-border-radius: 0 20px 4px 45px;
    border-radius: 0 20px 4px 45px;

    -webkit-transform: rotate(31deg);
    -moz-transform: rotate(31deg);
    -ms-transform: rotate(31deg);
    -o-transform: rotate(31deg);
    transform: rotate(31deg);
}
.left-leg .claw-2 .inner-toe{
    background: #000;
    width: 30px;
    height: 44px;
    top: 0px;
    left: 1px;
}
.left-leg .claw-2 .under-toe{
    background: #fff;
    height: 87px;
    width: 20px;

    top: 3px;
    left: -4px;

    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;

    -webkit-transform: rotate(-4deg);
    -moz-transform: rotate(-4deg);
    -ms-transform: rotate(-4deg);
    -o-transform: rotate(-4deg);
    transform: rotate(-4deg);
}

.left-leg .claw-2 .talon{
    width: 70px;
    height: 50px;
    left: 30px;
    top: 30px;

    overflow: hidden;
}
.left-leg .claw-2 .talon .talon-top{
    background: #000;
    height: 98px;
    width: 98px;

    top: -64px;
    left: -20px;

    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}
.left-leg .claw-2 .talon .talon-bottom{
    background: #fff;
    height: 87px;
    width: 87px;

    top: -64px;
    left: 10px;

    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}

.right-leg{
    width: 190px;
    height: 160px;
    top: 480px;
    left: 250px;

    overflow:hidden;
}
.right-leg .stomach{
    background: #fff;
    width: 140px;
    height: 140px;

    left: 84px;
    top: -94px;

    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}
.right-leg .upper-leg{
    background: #000;
    width: 205px;
    height: 61px;

    left: 15px;
    top: -9px;

    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;

    -webkit-transform: rotate(-12deg);
    -moz-transform: rotate(-12deg);
    -ms-transform: rotate(-12deg);
    -o-transform: rotate(-12deg);
    transform: rotate(-12deg);
}
.right-leg .thigh{
    background: #fff;
    width: 345px;
    height: 61px;

    left: -49px;
    top: -47px;

    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;

    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    transform: rotate(-10deg);
}

.right-leg .lower-leg{
    width: 115px;
    height: 113px;

    left: 17px;
    top: 40px;

    overflow: hidden;
}
.right-leg .lower-leg .shin{
    background: #000;
    width: 295px;
    height: 76px;

    left: -117px;
    top: -55px;

    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;

    -webkit-transform: rotate(55deg);
    -moz-transform: rotate(55deg);
    -ms-transform: rotate(55deg);
    -o-transform: rotate(55deg);
    transform: rotate(55deg);
}

.right-leg .lower-leg .calf{
    background: #fff;
    width: 103px;
    height: 73px;

    left: 44px;
    top: -17px;

    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;

    -webkit-transform: rotate(57deg);
    -moz-transform: rotate(57deg);
    -ms-transform: rotate(57deg);
    -o-transform: rotate(57deg);
    transform: rotate(57deg);
}

.right-leg .hoove{
    width: 51px;
    height: 42px;
    top: 109px;
    left: 131px;

    overflow: hidden;
}

.right-leg .hoove .main{
    background: #000;
    
    width: 182px;
    height: 152px;
    top: -113px;
    left: -55px;

    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}

.right-leg .hoove .shoe{
    background: #fff;
    
    width: 62px;
    height: 42px;
    top: -19px;
    left: 19px;
    
    -webkit-transform: rotate(57deg);
    -moz-transform: rotate(57deg);
    -ms-transform: rotate(57deg);
    -o-transform: rotate(57deg);
    transform: rotate(57deg);
}

.right-leg .hoove .inside{
    background: #fff;
    
    width: 62px;
    height: 42px;
    top: -39px;
    left: -13px;
    
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;

    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

























